<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>

    <title>Joe Schmoe | An illustrated avatar collection</title>
    <meta name="description" content="An illustrated avatar generator for developers and designers">
    <meta name="keywords" content="Avatar,Profile Picture,Avatar,Avatar Genrator,API">
    <meta property="og:title" content="Joe Schmoe" />
    <meta property="og:description" content="Joe Schmoe is a free, illustrated avatar generator. It is mostly used as a profile picture placeholder for design mocks or on live websites for users who haven't updated their picture yet." />
    <meta property="og:url" content="https://joeschmoe.io/" />
    <meta property="og:image" content="http://joeschmoe.io/images/ogimage.png" />


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134201704-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134201704-2');
    </script>
  </head>
  <body>

    <%= render @view_module, @view_template, assigns %>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
