/* This file is for your main application css. */

/* @import "./phoenix.css"; */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/*
 * VARIABLES
 */
html {
  --red: #F44711;
  --beige: #F2EFEA;
  --grey: #818181;
  --section-gutter: 100px;
}

/*
 * DOCUMENT
 */
html {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.7rem;
}
@media only screen and (max-width: 1024px) {
  body > * {
    padding: 0 10px;
  }
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -999;
}

.two-cols {
  display: flex;
  justify-content: center;
}
.two-cols__col {
  flex: 1 1 50%;
}
.two-cols__col:first-child {
  margin-right: 50px;
}
.col--flex-end {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 1024px) {
  .two-cols {
    flex-direction: column;
  }
  .two-cols__col {
    width: 100%;
    justify-content: center;
  }
  .two-cols__col:first-child {
    margin-right: 0;
    margin-bottom: 100px;
  }
}

/*
 * ELEMENTS
 */
a {
  cursor: pointer;
  color: var(--red);
  text-decoration: none;
}
a.btn {
  background-color: var(--red);
  color: white;
  border-radius: 500px;
  padding: 10px 30px;
  font-size: 0.8rem;
  display: inline-block;
}

.arrow {
  content: '';
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}
.arrow--down {
  transform: rotate(-135deg);
}

form {
  position: relative;
}
form a {
  position: absolute;
  right: 0;
}

label {
  font-size: 0.5rem;
  color: var(--grey);
}
.input-wrapper label {
  display: block;
  margin-bottom: -15px;
}
.input {
  display: flex;
  border-bottom: 2px solid black;
  height: 2rem;
  margin-bottom: 1rem;
}
.input__before, .input__fake {
  height: 100%;
  font-family: monospace, monospace;
  font-size: 0.8rem;
  line-height: 2rem;
}
.input__fake {
  color: var(--red);
}
input {
  height: 1.9rem;
  width: 50%;
  font-size: 0.8rem;
  font-family: monospace, monospace;
  color: var(--red);
  border: none;
  background-color: transparent;
}
input::placeholder {
  color: var(--red);
}
input:focus {
  outline: none;
}

/*
 * SECTIONS
 */
section {
  padding-top: var(--section-gutter);
  padding-bottom: var(--section-gutter);
}
section > * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  section {
    padding-top: calc(var(--section-gutter)/2);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("/images/hero_bg.svg");
  background-size: cover;
  background-position: center;
}
.hero .scroll {
  width: calc(100vw - 30px);
  position: absolute;
  bottom: 50px;
  margin: auto;
}

section h1, section h2, section h3 {
  text-align: center;
}

.sandbox .two-cols__col {
  flex: 0 0 40%;
}
.sandbox form {
  max-width: 500px;
  margin-top: 50px;
}
.sandbox__img {
  text-align: center;
}
.sandbox__img img {
  max-width: 300px;
  border: 1px solid black;
  background-color: var(--beige);
}

.meet {
  background-color: var(--beige);
  padding-bottom: 0;
}
.meet .two-cols__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meet img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}

@media only screen and (max-width: 1024px) {
  .wtf .two-cols__col:first-child {
    margin-bottom: 20px;
  }
}

.originals__all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.originals__all > * {
  width: 30%;
}
.originals__original img {
  width: 100%;
}
.originals__original p {
  text-align: center;
  overflow: hidden;
}
.originals__original span {
  color: var(--red);
}
