/* This file is for your main application css. */

/* @import "./phoenix.css"; */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/*
 * VARIABLES
 */
html {
  --blue: #005999;
  --red: #F44711;
  --beige: #F2EFEA;
  --grey: #818181;
  --section-gutter: 75px;
  --two-cols-gutter: 40px;
  --schmoe-size: 250px;
  --code-family: monaco, monospace;
}

/*
 * DOCUMENT
 */
html {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.7rem;
}
@media only screen and (max-width: 1024px) {
  body > * {
    padding: 0 10px;
  }
}

h1 {
  font-size: 2.4rem;
}
section h1:first-child {
  margin-top: 0;
  margin-bottom: var(--section-gutter);
}
h2 {
  font-size: 1.8rem;
  margin-bottom: calc(var(--section-gutter) / 2);
}
section h2:first-child {
  margin-top: 0;
}
.two-cols h2:first-child {
  margin-bottom: var(--two-cols-gutter);
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}
p:last-of-type {
  margin-bottom: calc(var(--section-gutter) / 2);
}
span.with-dot {
  position: relative;
}
span.with-dot::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 1px;
  height: 0.3em;
  width: 0.3em;
  background-color: var(--red);
  border-radius: 50%;
}
span.with-dot--blue::after {
  background-color: var(--blue);
}
pre, code {
  font-family: var(--code-family);
  font-size: 0.8rem;
  font-weight: normal;
  padding: 5px;
  margin: 0;
  background-color: white;
  color: var(--blue);
}
pre span {
  color: var(--red);
}

img.schmoe {
  width: var(--schmoe-size);
  height: var(--schmoe-size);
}

.text--grey {
  color: var(--grey);
}
.text--blue {
  color: var(--blue);
}
.text--red {
  color: var(--red);
}
.text--right {
  text-align: right;
}
.text--center {
  text-align: center;
}
.small {
  font-size: 0.8rem;
}
.hidden {
  position: absolute;
  opacity: 0;
  z-index: -999;
}
.bg--beige {
  background-color: var(--beige);
}

.push--bottom {
  margin-bottom: var(--section-gutter);
}

.two-cols {
  display: flex;
  justify-content: center;
}
.two-cols__col {
  flex: 1 1 50%;
}
.two-cols__col:first-child {
  margin-right: 50px;
}
.col--ar {
  text-align: right;
}
@media only screen and (max-width: 1024px) {
  .two-cols:not(.two-cols--mobile) {
    flex-direction: column;
  }
  .two-cols:not(.two-cols--mobile) {
    width: 100%;
    justify-content: center;
  }
  .two-cols:not(.two-cols--mobile):first-child {
    margin-right: 0;
  }
  section .two-cols:first-child {
    margin-top: 0;
  }
}

/*
 * ELEMENTS
 */
a {
  cursor: pointer;
  color: var(--red);
  text-decoration: none;
}
a.btn {
  position: relative;
  background-color: var(--red);
  color: white;
  border-radius: 500px;
  padding: 10px 30px;
  font-size: 0.8rem;
  display: inline-block;
}
a.btn.btn--link {
  background-color: transparent;
  color: var(--red);
}
a.btn.btn--pulse::before {
  content: '';
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 500px;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.4s;
}
a.btn.btn--pulse:active::before {
  transform: scale(0);
  opacity: 1;
  transition: none;
}
.btn--fixed {
  width: 120px;
  text-align: center;
}
a.btn.btn--blue {
  background-color: var(--blue);
}

.arrow {
  content: '';
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.arrow--down {
  transform: rotate(-135deg);
}
@media only screen and (max-width: 500px) {
  .arrow {
    display: none;
  }
}

form {
  position: relative;
}
form a, form a.btn {
  position: absolute;
  right: 0;
}

label {
  font-size: 0.5rem;
  color: var(--grey);
  display: block;
  margin-bottom: -15px;
}
.input-wrapper {
  width: 400px;
  max-width: 100%;
  margin: auto;
}
.input {
  display: flex;
  border-bottom: 2px solid black;
  height: 2rem;
  margin-bottom: 1rem;
}
.input__before, .input__fake {
  height: 100%;
  font-family: var(--code-family);
  font-size: 0.8rem;
  line-height: 2rem;
}
.input__fake {
  color: var(--red);
}
input {
  height: 1.9rem;
  width: 50%;
  font-size: 0.8rem;
  font-family: var(--code-family);
  color: var(--red);
  border: none;
  background-color: transparent;
}
input::placeholder {
  color: var(--red);
}
input:focus {
  outline: none;
}
.input-cursor {
  position: relative;
}
.input-cursor input {
  padding-left: 5px;
}
.input-cursor i {
  position: absolute;
  content: '';
  width: 2px;
  height: 1.2rem;
  left: 2px;
  margin-top: 0.4rem;
  background-color: var(--red);
  animation-name: blink;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  opacity: 1;
}
.input-cursor input:focus + i {
  display: none;
}
@keyframes blink {
  0% { opacity: 1; }
  49% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}
@media only screen and (max-width: 450px) {
  input, .input, .input__before, .input__fake {
    font-size: 0.6rem;
  }
}

table {
  width: 100%;
}
table tr td {
  width: 50%;
}

/*
 * SECTIONS
 */
section {
  padding-top: var(--section-gutter);
  padding-bottom: var(--section-gutter);
  background-color: white;
}
section > * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  section {
    padding-top: calc(var(--section-gutter)/2);
    padding-bottom: calc(var(--section-gutter)/2);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("/images/hero_bg.svg");
  background-size: cover;
  background-position: center -75px;
  background-repeat: no-repeat;
}
/* paralax on desktop */
@media only screen and (min-width: 500px) {
  .hero {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  section.sandbox {
    background-color: white;
    margin-top: 100vh !important;
  }
}
.hero img {
  max-width: 100%;
  margin-bottom: -10px;
}
.hero h3 {
  margin-top: 0;
  line-height: 2rem;
}
@media only screen and (min-width: 1700px) {
  .hero .hero__title {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 1300px) {
  .hero .hero__title img {
    width: 420px;
  }
}
.hero .scroll {
  width: calc(100vw - 30px);
  position: absolute;
  bottom: 50px;
  margin: auto;
}

section h1, section h2, section h3 {
  text-align: center;
}

.sandbox h2 {
  margin-bottom: var(--section-gutter);
}
.sandbox .two-cols__col {
  flex: 0 0 40%;
}
.sandbox form {
  max-width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.sandbox .btn {
  text-align: center;
  width: 60px;
}
.sandbox__img {
  text-align: center;
}
.sandbox__img img {
  border: 2px solid black;
  background-color: var(--beige);
}
@media only screen and (max-width: 1024px) {
  .sandbox__img {
    margin-top: var(--section-gutter);
  }
}

.meet {
  padding-bottom: 0;
}
.meet .two-cols__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meet h2 {
  margin-bottom: 20px !important;
}
.meet img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1025px) {
  .meet .input-wrapper {
    max-width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .meet .two-cols__col:first-child {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .wtf .two-cols__col:first-child {
    margin-bottom: 20px;
  }
}

.documentation .doc {
  margin-bottom: calc(var(--section-gutter) / 2);
  width: 70%;
  font-size: 0.9rem;
}
.documentation .doc:first-of-type {
  margin-top: var(--section-gutter);
}
.documentation .doc >:first-child {
  flex: 1;
}
.documentation .doc >:last-child {
  flex: 2;
}
.documentation .doc p {
  margin-top: 0;
}
@media only screen and (max-width: 1024px) {
  .documentation .col--ar {
    text-align: left;
  }
  .documentation .doc {
    width: 100%;
  }
  .documentation .doc-cols {
    margin-bottom: calc(var(--section-gutter) / 2);
  }
}

.originals__all {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
.originals__original svg {
  width: var(--schmoe-size);
  height: var(--schmoe-size);
}
.originals__original p {
  overflow: hidden;
}
.originals__original span {
  font-size: 2rem;
  line-height: 2.5rem;
  position: relative;
  font-weight: bold;
}
.originals__original .name::after {
  content: '';
  position: absolute;
  left: 1px;
  top: 2px;
  height: 11px;
  width: 11px;
  background-color: var(--red);
  border-radius: 50%;
}
.originals__original .name--male::after {
  background-color: var(--blue);
}

section.footer div {
  text-align: center;
}
section.footer .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.footer img {
  height: 2rem;
  margin: 10px 10px auto;
}
section.footer div.license {
  margin-top: 20px;
  font-size: 0.7rem;
  opacity: 0.75;
}
@media only screen and (max-width: 450px) {
  section.footer .flex {
    flex-direction: column;
  }
  section.footer div:first-child {
    margin-bottom: var(--two-cols-gutter);
  }
}

.newsletter {
  margin: auto;
  text-align: center;
}
.newsletter h2 {
  margin-bottom: 0;
}
.newsletter p {
  margin-bottom: 0;
}
