/* This file is for your main application css. */

/* @import "./phoenix.css"; */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/*
 * VARIABLES
 */
html {
  --blue: #073E75;
  --red: #F44711;
  --beige: #F2EFEA;
  --grey: #818181;
  --section-gutter: 100px;
}

/*
 * DOCUMENT
 */
html {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.7rem;
}
@media only screen and (max-width: 1024px) {
  body > * {
    padding: 0 10px;
  }
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}
pre {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 10px;
  margin: 0;
  background-color: var(--beige);
  color: var(--blue);
}
pre span {
  color: var(--red);
}

.text--grey {
  color: var(--grey);
}
.text--blue {
  color: var(--blue);
}
.text--red {
  color: var(--red);
}
.text--right {
  text-align: right;
}
.small {
  font-size: 0.8rem;
}
.highlight {
  font-family: monospace, monospace;
  background-color: rgba(7, 62, 117, 0.2);
}
.hidden {
  position: absolute;
  opacity: 0;
  z-index: -999;
}
.bg--beige {
  background-color: var(--beige);
}

.two-cols {
  display: flex;
  justify-content: center;
}
.two-cols__col {
  flex: 1 1 50%;
}
.two-cols__col:first-child {
  margin-right: 50px;
}
@media only screen and (max-width: 1024px) {
  .two-cols:not(.two-cols--mobile) {
    flex-direction: column;
  }
  .two-cols:not(.two-cols--mobile) {
    width: 100%;
    justify-content: center;
  }
  .two-cols:not(.two-cols--mobile):first-child {
    margin-right: 0;
  }
}

/*
 * ELEMENTS
 */
a {
  cursor: pointer;
  color: var(--red);
  text-decoration: none;
}
a.btn {
  position: relative;
  background-color: var(--red);
  color: white;
  border-radius: 500px;
  padding: 10px 30px;
  font-size: 0.8rem;
  display: inline-block;
}
a.btn.btn--pulse::before {
  content: '';
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 500px;
  opacity: 0;
  transform: scale(1.5);
  transition: all 0.4s;
}
a.btn.btn--pulse:active::before {
  transform: scale(0);
  opacity: 1;
  transition: none;
}
.btn--fixed {
  width: 120px;
  text-align: center;
}
a.btn.btn--blue {
  background-color: var(--blue);
}

.arrow {
  content: '';
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}
.arrow--down {
  transform: rotate(-135deg);
}

form {
  position: relative;
}
form a {
  position: absolute;
  right: 0;
}

label {
  font-size: 0.5rem;
  color: var(--grey);
  display: block;
  margin-bottom: -15px;
}
.input-wrapper {
  width: 400px;
  max-width: 100%;
  margin: auto;
}
.input {
  display: flex;
  border-bottom: 2px solid black;
  height: 2rem;
  margin-bottom: 1rem;
}
.input__before, .input__fake {
  height: 100%;
  font-family: monospace, monospace;
  font-size: 0.8rem;
  line-height: 2rem;
}
.input__fake {
  color: var(--red);
}
input {
  height: 1.9rem;
  width: 50%;
  font-size: 0.8rem;
  font-family: monospace, monospace;
  color: var(--red);
  border: none;
  background-color: transparent;
}
input::placeholder {
  color: var(--red);
}
input:focus {
  outline: none;
}
@media only screen and (max-width: 1024px) {
}

table {
  width: 100%;
}
table tr td {
  width: 50%;
}

/*
 * SECTIONS
 */
section {
  padding-top: var(--section-gutter);
  padding-bottom: var(--section-gutter);
}
section > * {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  section {
    padding-top: calc(var(--section-gutter)/2);
    padding-bottom: calc(var(--section-gutter)/2);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-image: url("/images/hero_bg.svg");
  background-size: cover;
  background-position: center;
}
.hero .scroll {
  width: calc(100vw - 30px);
  position: absolute;
  bottom: 50px;
  margin: auto;
}

section h1, section h2, section h3 {
  text-align: center;
}

.sandbox .two-cols__col {
  flex: 0 0 40%;
}
.sandbox form {
  max-width: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.sandbox__img {
  text-align: center;
}
.sandbox__img img {
  max-width: 300px;
  border: 1px solid black;
  background-color: var(--beige);
}
@media only screen and (max-width: 1024px) {
  .sandbox__img {
    margin-top: var(--section-gutter);
  }
}

.meet {
  padding-bottom: 0;
}
.meet .two-cols__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.meet img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
@media only screen and (min-width: 1025px) {
  .meet .input-wrapper {
    max-width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  .meet .two-cols__col:first-child {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .wtf .two-cols__col:first-child {
    margin-bottom: 20px;
  }
}

.documentation .doc {
  margin-bottom: calc(var(--section-gutter) / 2);
  font-size: 0.8rem;
}
.documentation .doc p {
  margin-top: 0;
}
@media only screen and (max-width: 1024px) {
  .documentation .doc-cols {
    margin-bottom: calc(var(--section-gutter) / 2);
  }
}

.originals__all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.originals__all > * {
  width: 30%;
}
.originals__original img {
  width: 100%;
}
.originals__original p {
  text-align: center;
  overflow: hidden;
}
.originals__original span {
  color: var(--red);
}
